*{
  box-sizing: border-box;
  
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
       /* background-color: #ffffff; */
       background-color: #bdc3c7;
}


/* ----- HEADER.START ----- */

.nav{
  background: linear-gradient(to bottom right, #16a085, #36004d);
  padding: 02px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
  border-bottom: solid 5px #DDA63A;
  box-shadow: 0 7px 4px rgb(255, 255, 255);
  width: 100%;
}

.lg-nav{
  width: 30%;
  height: auto;
  margin-top: 0;
  border-radius: 25%;
}

.lg-nav:hover{
    width: 35%;
    transition: 0.4s;

}

.nav-menu{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  border-radius: 10px;
}

.nav-menu a{
  text-decoration: none;
  padding: 27px 40px;
  color: #DDA63A;
  font-size: 20px;
  
}

.nav-menu a:hover{
  background-color: rgba(221, 166, 58, 0.9);
  border: solid 3px #bdc3c7;
  color: #ffffff;
  margin: 0;
  border-radius: 25px; 
  transition: .4s;
} 
/* ----- HEADER.END ----- */

/* ----- CAPA.START----- */

.div-geral-CAPA{
display: flex;
align-items: center;
}

.video-bg{
  margin: 0;
  min-width: 100%;
  opacity: 0.5;
}

.div-vidContent{
  position: absolute;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-txt{
  border:solid  5px #16a085;
  border-radius: 25px;
  border-style: double;
  background-color: rgba(255, 255, 255,0.35);
  padding: 35px;

}

.div-vidContent hr{
  width: 500px;
  border: solid 1.5px #DDA63A;
  background-color: #DDA63A;
  border-radius: 100%;

}

.div-vidContent h1{
  width: auto;
  height: auto;
  font-size: 3em;
  text-align: center;
}

.div-vidContent p{
  width: auto;
  height: auto;
  font-size: 2em;
  text-align: justify;
  padding-left: 5px;
}

.div-vidContent .startin{
  border: 1px solid rgba(0, 0, 0,0.1);
  background-color: rgba(221, 166, 58,0.7); 
  border-radius: 15px;
}

.div-vidContent .start{
  color: #16a085; 
  border-radius: 15px;
}

.div-vidContent .in{
  color: rgb(225, 225, 225); 
  border-radius: 15px;
}

.button-center{
  text-align: center;
  margin: 30px;
}

.div-vidContent .button-center a{
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(to top left, #36004d, #16a085) ;
  padding: 5px 10px;
  border-radius: 5px;
  color: #DDA63A;
}

.div-vidContent .button-center a:hover{
  border: solid 3px rgba(221, 166, 58, 0.9);
  color: #ffffff;
  margin: 0;
  border-radius: 25px; 
  transition: .65s;
}

/* ----- CAPA.END----- */

/* ----- GERAL.START ----- */

.sec-GERAL{
  display: flex;
  justify-content: space-around;
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  margin: 0 auto;

}

.div-GERAL{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0;
  background-color: azure;
  border-radius: 25px;
  min-height: 100vh;
}

.div-GERAL a{
  text-decoration: solid;
}


.div-GERAL:hover{
box-shadow: 0 0 10px black;
transition: 0.3s;
}

.div-title{
background: linear-gradient(to bottom right, #16a085, #36004d);
height: 120px;
width: 100%;
margin-top: 0;
font-size: 25px;
text-align: center;
border-radius: 25px 25px 0 0;
color: #DDA63A;
border-bottom: solid 5px #DDA63A;
}

.div-UN{
padding-top: 10px;
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
width: 100%;
background: linear-gradient(to right, #00aeef, #ffffff);
box-shadow: 0 0 7px black;
}

.div-UN img{
  width: auto;
  height: 300px;
  padding: 0 40px;
}

.txt-UN{
width:500px; 
height:auto;
padding: 0px 10px;
text-align: justify;
background:  linear-gradient(to right, #08afed, #2fbbf0, #5acbf5);
background-color: #00aeef;
color: rgb(255, 255, 255);
border-radius: 0 25px;
}

.video-UN{
  padding-left: 50px;
}

.txt-UN h1{
text-align: center;
font-size: 1.8em;
}

.txt-UN p{
  font-size: 1.2em;
}

.txt-UN:hover{
box-shadow: 0 0 5px rgb(0, 0, 0);
transition: 0.5s;
}

.div-SDG{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background: linear-gradient(to right, #ffffff, #498bca);
  box-shadow: 0 0 7px black;
}

.div-SDG img{
  width: 525px;
  height: auto;

}

.txt-SDG{
width:500px; 
height:auto;
padding: 0px 10px;
text-align: justify;
background: linear-gradient(to left, #4c8dcb, #669dd2 , #81aeda);
background-color: #498bca;
color: rgb(255, 255, 255);
border-radius: 0 25px;
margin-bottom: 10px;
}

.txt-SDG h1{
text-align: center;
font-size: 1.8em;
}

.txt-SDG p{
  font-size: 1.2em;
}

.txt-SDG:hover{
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: 0.5s;
}

#FWreverse{
flex-wrap: wrap-reverse;
}

.div-SDG2{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background: linear-gradient(to right, #16a085, #ffffff);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 -1px 1px black;
}

.div-SDG2 img{
  margin-left: 50px;
}

.txt-SDG2{
  width:500px; 
  height:auto;
  padding: 0px 10px;
  text-align: justify;
  background: linear-gradient(to right, #24a68c, #45b39d , #67c1af);
  background-color: #DDA63A;
  color: rgb(255, 255, 255);
  border-radius: 0 25px;
}

.txt-SDG2 h1{
text-align: center;
font-size: 1.8em;
}

.txt-SDG2 p{
  font-size: 1.2em;
}

.txt-SDG2:hover{
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: 0.5s;
}

.video-SDG{
padding-right: 50px;
}

.video-SDG2{
padding-left: 50px;
}

/* ----- GERAL.END ----- */

/* ----- SUBMETAS.START ----- */

.sec-metas{
  display: flex;
  justify-content: space-around;
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  margin: 0;
  }
 
.div-title{
  background: linear-gradient(to bottom right, #16a085, #36004d);
  height: 120px;
  width: 100%;
  margin-top: 0;
  font-size: 25px;
  text-align: center;
  border-radius: 25px 25px 0 0;
  color: #DDA63A;
  border-bottom: solid 5px #DDA63A;
  }
  
.div-GERAL-metas{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 10px;
    border-radius: 25px;
    min-height: 100vh;
    background: azure
  }

.div-GERAL-metas:hover{
  box-shadow: 0 0 10px black;
  transition: 0.3s;
}

  .div-metas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 1.5em;
    background: linear-gradient(to bottom right, #16a085, #36004d);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border-radius: 25px;
  }

  .img-metas{
    widows: 20vh;
    height: 20vh;
    border-radius: 50%;

}

  .border-radios-1{
    border-radius: 25px 25px 0 0;
  }

  .border-radios-8{
    border-radius: 0 0 25px 25px;
  }

  .div-metas-ir{
    min-height: 200px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    color: #DDA63A;
    background: auto;
  }
  
  .div-metas-ir h3{
    text-align: end;
    margin-right: 20px;
    font-size: 1.5em;
  }
  
  .div-metas-ir p{
    margin-right: 20px;
    text-align: justify;
    padding: 20px;
    font-size: 1.2em;
  }

  .div-metas-ir:hover {
  display: flex;
  background: #DDA63A;
  color: rgb(255, 255, 255);
  transition: 1s;

  }
  
  .div-metas-il{
  min-height: 200px;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #DDA63A;
  background: auto;
  }
  
  .div-metas-il h3{
    text-align: start;
    margin-left: 20px;
    font-size: 1.5em;
  }
  
  .div-metas-il p{
    text-align: start;
    padding: 20px;
    color: auto;
    font-size: 1.2em;
  }
  
  .div-metas-il:hover{
    display: flex;
    background: #DDA63A;
    color: #ffffff;
    transition: 0.8s;
  }
  

/* ----- SUBMETAS.END ----- */

/* ----- GOAL.END ----- */

.sec-GOAL{
display: flex;
justify-content: space-around;
display: flex;
padding: 30px;
flex-wrap: wrap;
margin: 0 auto;
}

.div-GERAL-GOAL{
display: flex;
justify-content: center;
flex-wrap: wrap;
padding-top: 0;
padding-bottom: 10px;
background-color: azure;
border-radius: 25px;
width: 100%;
}

.div-GERAL-GOAL:hover{
box-shadow: 0 0 10px black;
transition: 0.3s;
}

.div-GOAL{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
height: 500px;
width: 100%;
}

.img-GOAL{
width: 300px;
height: 300px;
border-radius: 10%;
box-shadow: 0 0 10px black;
}

.txt-GOAL{
width:60%; 
min-height:350px;
padding: 0px 30px;
background: linear-gradient(to bottom right, #16a085, #36004d);
border-radius: 50px;
box-shadow: 0 0 10px black;

}

.txt-GOAL h2{
text-align: center;
font-size: 2em;
color: #ffffff;
}

.txt-GOAL p{
color: #DDA63A;
font-size: 1.5em;
text-align: justify;
}

.txt-GOAL hr{
width: 500px;
border: solid 1.5px #DDA63A;
background-color: #DDA63A;
border-radius: 100%;
}


/* ----- GOAL.END ----- */

/* ----- HOW.START ----- */

.sec-HOW{
display: flex;
justify-content: space-around;
display: flex;
padding: 30px;
flex-wrap: wrap;
margin: 0 auto;
}

.div-GERAL-HOW{
display: flex;
justify-content: center;
flex-wrap: wrap;
padding-top: 0;
padding-bottom: 10px;
background-color: azure;
border-radius: 25px;
width: 100%;
}

.div-title-HOW{
  background: linear-gradient(to bottom right, #16a085, #36004d);
  height: 120px;
  width: 100%;
  margin-top: 0;
  font-size: 25px;
  text-align: center;
  border-radius: 25px 25px 0 0;
  color: #DDA63A;
  border-bottom: solid 5px #DDA63A;
  }

.div-GERAL-HOW:hover{
box-shadow: 0 0 10px black;
transition: 0.3s;
}

.div-HOW{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
width: 100%;

}


.txt-HOW{
width:60%; 
min-width: 350px;
padding: 0px 20px;
background: linear-gradient(to bottom right, #16a085, #36004d);
border-radius: 50px;
box-shadow: 0 0 10px black;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}

.txt-HOW video{
margin-top: 10px;
align-content: center;
width: 30vh;
height: 30vh;
}


.txt-HOW hr{
margin: 40px;
height: 250px;
border: solid 1.5px #DDA63A;
background-color: #DDA63A;
border-radius: 100%;
}

.txt-HOW p{
text-align: justify;
font-size: 1.5em;
color: #DDA63A;
width: 60%;
}

.div-imgnbuttom-HOW{
width: 600px;
height: 400px;
box-shadow: 0 0 10px black;
display: flex;
justify-content: center;
align-items: center;
margin: 25px 0;
}

.img-HOW{
display: block;
margin: auto;
max-height: 100%;
max-width: 100%;
box-shadow: 0 0px 4px;
}

.button-HOW{
position: absolute;
padding: 0 10px;
display: flex;
justify-content: center;
align-items: center;
z-index: 1;
}

#imgbutton-HOW{
font-size: 2em;
text-align: center;
text-decoration: none;
background: linear-gradient(to top left, #36004d, #16a085) ;
padding: 5px 10px;
border-radius: 5px;
color: #DDA63A;
}

#imgbutton-HOW:hover{
  border: solid 3px rgba(221, 166, 58, 0.9);
  color: #ffffff;
  margin: 0;
  border-radius: 25px; 
  transition: .65s;
}


/* ----- HOW.END ----- */

/* ----- ABOUT.START ----- */

.sec-ABOUT{
display: flex;
justify-content: space-around;
display: flex;
padding: 30px;
flex-wrap: wrap;
margin: 0 auto;
height: auto;
}

.div-GERAL-ABOUT{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding-top: 0;
padding-bottom: 10px;
background-color: azure;
border-radius: 25px;
width: 100%;
height: auto;
}

.div-GERAL-ABOUT:hover{
box-shadow: 0 0 10px black;
transition: 0.3s;
}

.div-ABOUT{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
width: 100%;
height: auto;
}

.img-ABOUT img{
margin: 20px;
width: 325px;
height: 400px;
box-shadow: 0 0 10px black;
}

.txt-ABOUT{
min-width:315px;
width: 60%;
padding: 0px 30px;
background: linear-gradient(to bottom right, #16a085, #36004d);
border-radius: 50px;
box-shadow: 0 0 10px black;
margin: 25px 0px;
}


.txt-ABOUT h2{
text-align: center;
font-size: 2em;
color: #ffffff;
}

.txt-ABOUT p{
color: #DDA63A;
font-size: 1.5em;
text-align: justify;
}

.txt-ABOUT hr{
width: 500px;
border: solid 1.5px #DDA63A;
background-color: #DDA63A;
border-radius: 100%;
}

/* ----- ABOUT.END ----- */

/* ----- FOOTER ----- */

footer{
  background: linear-gradient(to bottom right, #16a085, #36004d);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
  border-top: solid 5px #DDA63A;
  box-shadow: 0 0 20px black;
  width: 100%;
  height: auto;  
}

footer a{
  text-decoration: none;
  color: #DDA63A;
  font-size: 1.5em;
}
footer p{
  color: #DDA63A;
  font-size: 1.5em;
}

footer a:hover{
  padding: 5px 3px;
  border: solid 3px rgba(221, 166, 58, 0.9);
  background: #ffffff;
  margin: 0;
  border-radius: 5px;
  transition: 0.5s;
}



/*--------- RESPONSIVIDADE -----------*/

@media(max-width: 1025px){

body{
  max-width: 100%;
}
hr{
  display: none;
}

/* ----- HEADER ----- */
.nav{
  background: linear-gradient(to bottom right, #16a085, #36004d);
  padding: 1px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
  height: 100vh;
  border-bottom: solid 5px #DDA63A;
  box-shadow: 0 7px 4px rgb(255, 255, 255);
  width: 100%;
}

.nav-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 5px #DDA63A;
}

.lg-nav{
  width: 90px;
  height: 90px;
}

.div-logo-nav{
  width: 100%;
}

.div-logo-nav a{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  right: 0;
}

.lg-nav:hover{
  width: 80px;
  transition: 0.4s;

}

/* ----- CAPA ----- */

.sec-CAPA{
  display: none;
}

.flex-txt{
  padding: 0;
  border: solid 2px #16a085;
}

.div-vidContent{
    top: 670px;
    position: absolute;
    text-align: center;
}

.div-vidContent h1{
  font-size: 1.1em;
}

.div-vidContent p{
  display: none;
  text-align: justify;
  font-size: 1em;
}

.div-vidContent .button-center a{
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(to top left, #36004d, #16a085) ;
  border-radius: 5px;
  color: #DDA63A;
}

/* ----- GERAL -----*/

.sec-GERAL{
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  margin: 0 auto;  
  }

.div-GERAL{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 10px;
  background-color: azure;
  border-radius: 25px;
  width: auto;
  height: auto;
  color: #DDA63A;
}

.div-UN{
  background: #00aeef;
  margin: 20px;
  align-items: center;
}
  
.txt-UN{
  margin: 20px;
  width: auto;
  height: auto;
  background: #00aeef;
}

.video-UN{
  width: auto;
  padding: 0;
}

.video-UN iframe{
  width: 80vw;
  height: 45vh;
}

.div-UN img{
  display: none;
}

.div-SDG{
  background: #498bca;
  margin: 20px;
  padding-bottom: 10px;
  align-items: center;
}
  
.txt-SDG{
  margin: 20px;
  width: auto;
  height: auto;
  background: #498bca;
}

.video-SDG{
  width: auto;
  padding: 0;
}

.video-SDG iframe{
  width: 80vw;
  height: 45vh;
}

.div-SDG img{
  display: none;
}

.div-SDG2{
  background: #16a085;
  margin: 20px;
  align-items: center;
}
  
.txt-SDG2{
  margin: 20px;
  width: auto;
  height: auto;
  background: #16a085;
}

.video-SDG2{
  width: auto;
  padding: 0;
}

.video-SDG2 iframe{
  width: 80vw;
  height: 45vh;
  padding-bottom: 10px;
}

.div-SDG2 img{
  display: none;
}

/* ----- SUBMETAS ----- */

.div-GERAL-metas{
  width: 100%;
}

.img-metas{
  padding: 10px;
  width:20vh;
  height:20vh;
  border-radius: 50%; 
}

.div-metas{
  background: azure;
  box-shadow: none;
}

.div-metas-il{
  background: linear-gradient(to bottom right, rgb(22, 160, 133), rgb(54, 0, 77));
  justify-content: center;
  border: solid 2.5px #DDA63A;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  box-shadow: 0 0 10px black;
}

.div-metas-ir{
  background: linear-gradient(to bottom right, rgb(22, 160, 133), rgb(54, 0, 77));
  border: solid 2.5px #DDA63A;
  align-items: center;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
  box-shadow: 0 0 10px black;
}

.txt-metas-il h3{
  text-align: center;
  font-size: 1em;
  padding: 0;
  margin: 10px 0;
}

.txt-metas-il p{
  text-align: center;
  font-size: 18px;
  padding-bottom: 10px;
  margin: 0;
}

.txt-metas-ir h3{
  text-align: center;
  font-size: 1em;
  margin: 10px 0;
}

.txt-metas-ir p{
  text-align:center;
  font-size: 18px;
  margin: 0;

}

/* ----- GOAL ----- */

.sec-GOAL{
  height: auto;
}

.div-GERAL-GOAL{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 10px;
  background-color: azure;
  border-radius: 25px;
  width: 100%;
  }

  .div-GOAL{
    height: auto;
  }

.img-GOAL{
  width: 200px;
  height: 200px;
  margin: 15px;
  border-radius: 10%;
  box-shadow: 0 0 10px black;
  }

.txt-GOAL{
  width: auto;
  height: auto;
  padding: 0px 30px;
  background: linear-gradient(to bottom right, rgb(22, 160, 132), rgb(54, 0, 77));
  border-radius: 50px;
  box-shadow: 0 0 10px black;
  margin: 20px;
  font-size: 20px;
  text-align: justify;
}

.txt-GOAL p{
  font-size: 18px;
  text-align: center;
}

/* ----- HOW ----- */

.div-GERAL-HOW{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 10px;
  background-color: azure;
  border-radius: 25px;
  width: 100%;
  font-size: 0.5em;
  }

.div-title-HOW{
    background: linear-gradient(to bottom right, #16a085, #36004d); 
    height: 100px;
    width: 100%;
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    border-radius: 25px 25px 0 0;
    color: #DDA63A;
    border-bottom: solid 5px #DDA63A;
}
  
.div-HOW{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
  
.txt-HOW{
  display: flex;
  justify-content: center;
  margin: 20px;
  height: auto;
  width: auto;
  min-width: auto;
  font-size: 10px;
  text-align: justify;
  padding: 10px;
}

.txt-HOW p{
  width: auto;
  font-size: 18px;
  text-align: center;
}
.txt-HOW video{
  align-content:center;
  width: 200px;
  height: 200px;
}

.div-imgnbuttom-HOW{
  width: auto;
  height: auto;
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  }

/* ----- ABOUT ----- */

.video-ABOUT{
  width: auto;
  height: auto;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.video-ABOUT img{
  width: 200px;
  height: 215px;
  box-shadow: 0 0 10px black;
}

.txt-ABOUT p{
  text-align: center;
  font-size: 18px;
}

.txt-ABOUT{
  min-width: auto;
  width: auto;
  height: auto;
  padding: 20px;
  box-shadow: 0 0 10px black;
  margin: 20px;

}

footer{
  font-size: 12px;
  text-align: center;
  height: auto;
}

}

@media(max-width: 1470px){
  .txt-HOW {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
    }

  .txt-HOW hr{
    margin: 10px;
    height: auto;
    width: 40vh;
    border: solid 1.5px #DDA63A;
    background-color: #DDA63A;
    border-radius: 100%;
  }

  .txt-HOW p{
    margin: 10px 0;
    }
}


